<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"                
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="header">
        <div class="search-bar">
            <h:form>
                <ui:insert name="language"/>
            </h:form>
        </div>
        <div class="clear"> </div>
        <div class="header-top-nav">
            <ul>
                <li><h:link value="Register" outcome="register" rendered="#{!user.logged}"/></li>
                <li><h:link value="Login" outcome="login" /></li>                        
                <li><a href="Home.xhtml"><span>
                            <c:if test="#{user.logged}">
                                #{user.greeting}
                            </c:if>
                        </span></a> </li>
                <li><h:form>
                        <h:commandButton value="Logout" type="submit" action="#{user.logOut}" rendered="#{user.logged}" style="background-color: #94CB32;"/>
                    </h:form>
                </li>
            </ul>
        </div>
        <div class="clear"> </div>
    </div>  
</ui:composition>