<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
        <title>Hatswa2 | Vendor Profile</title>
        <style type="text/css">
    
         .mapPAnel{
             display: block;
            height: 100%;
              width: 100%;
              
            margin: 0;
            }  
.mapClass {
    min-width:400px;
    width: 400px;
    height: 400px;
}


    
  </style>
        
        <h:outputStylesheet library="css" name="css/css/style.css"/>
        <h:outputStylesheet library="css" name="css/css/component.css"/>
         <h:outputStylesheet library="css" name="css/css/magnific-popup.css"/>
        <f:metadata>
            <f:event type="preRenderView" listener="#{checkLogin.permission}"/>
        </f:metadata>
   </h:head>
    <h:body>
          <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>
        <h:form prependId="false">
    <!--  wrapper -->
   
<!--            <ui:insert name="content" >
                 
	 	  <ui:include src="TemplateAdminVendorProfile.xhtml" />
                  <div class="panel-body blue">
                  <p:commandButton value="Send Message"  />
                  </div>
           </ui:insert>
   -->
   <div id="wrapper">
       
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Vendor Profile</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                        <div class="col-md-9">
                            <div class="dreamcrub">
                                <div class="clearfix"></div>
                            </div>
                            <div class="singel_right">
                                <div class="labout span_1_of_a1">
                                    <!-- start product_slider -->
                                    <h:graphicImage value="/faces/images/dynamic/?file=#{manageVendor.vendorProfile.logo}" />
                                </div>
                                <div class="cont1 span_2_of_a1">
                                    <h1>#{manageVendor.vendorProfile.name}</h1>
                                    
                                    <div class="price_single"> 
                                        
                                        
                                        
                                    </div>
<!--                                    <h2 class="quick">What do we sell?</h2>-->
                                  
<!--                                    <ul class="size">
                                        <h3>Branches</h3>
                                        <li><a href="#">branch 1</a></li>
                                        <li><a href="#">branch 2</a></li>
                                        <li><a href="#">branch 3</a></li>
                                        <li><a href="#">branch 4</a></li>
                                    </ul>-->

    
                                    
                                    
                                    <ul class="size">
                                        <h3>Representative</h3>
                                        <li>#{manageVendor.vendorProfile.representativeName}</li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                                                  
<p:dataList value="#{manageVendor.vendorProfile.branches}" var="branch" type="unordered">
                                            <f:facet name="header">
            Branches
        </f:facet>
    
    <p:commandLink value="#{branch.name}"  onclick="getThisLocation(#{branch.longitude},#{branch.latitude});showmobs();" update="themobs theAddress">
        <f:setPropertyActionListener target="#{manageVendor.mobiles}" value="#{branch.mobiles}" />
        <f:setPropertyActionListener target="#{manageVendor.branchAddres}" value="#{branch.address}" />
    </p:commandLink>
    
   
    <script type="text/javascript">
     
        $(document).ready(function() {
     document.getElementById("mapdiv").style.display = "none";
     document.getElementById("themobs").style.display = "none";
});
        
          function getThisLocation(long,latt) {
                document.getElementById("mapdiv").style.display = "block";
                latlon = new google.maps.LatLng(latt, long);
                mapholder = document.getElementById('mapholder');
                mapholder.style.height = '250px';
                mapholder.style.width = '500px';

                var myOptions = {
                    center: latlon, zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false,
                    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL}
                };
                var map = new google.maps.Map(document.getElementById("mapholder"), myOptions);
                var marker = new google.maps.Marker({position: latlon, map: map, title: "You are here!"});
            } 
           
           function showmobs(){
               document.getElementById("themobs").style.display = "block";
           }
    
</script>
   
    </p:dataList>
                                
                               
                                    
                            <p:dataList  value="#{manageVendor.mobiles}" var="mobile" style="unorderd" id="themobs">
                                                <f:facet name="header">
                                                    Hotlines 
                                                </f:facet>
                                                #{mobile.phone}
                                            </p:dataList>
                            <br />
                            <p:outputPanel id='theAddress'>
                                <h3 style="display: inline;">Address: </h3> #{manageVendor.branchAddres}
                            </p:outputPanel>
                    <div id="mapdiv">
                                <h3 class="like">Branch Location :</h3>
                                <div id="mapholder"></div>
                    </div>                      
                             <br />
                             <br />
                            <h:commandLink value="Add Branch"  action="AdminAddBranch.xhtml"
                                           styleClass="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
    
    <f:setPropertyActionListener target="#{Vendor.logo}" value="#{manageVendor.vendorProfile.logo}" />
    <f:setPropertyActionListener target="#{Vendor.title}" value="#{manageVendor.vendorProfile.name}" />
    <f:setPropertyActionListener target="#{Vendor.username}" value="#{manageVendor.vendorProfile.username}" />
    <f:setPropertyActionListener target="#{Vendor.addBranchOnly}" value="true" />
                            </h:commandLink>
                        
<!--                                    </p:outputLabel> -->
<!--                                </div>-->
                            
                        </div>
                </div>
            </div>
        </div>
   </div>
    </h:form>
        <ui:insert name="footer" >
             <ui:include src="AdminVendorFooter.xhtml" />
        </ui:insert>
</h:body>
        
</html>
