<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
<!--         <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
     Core CSS - Include with every page 
-->    <h:outputStylesheet library="css" name="assets/plugins/bootstrap/bootstrap.css" />
    <h:outputStylesheet library="css" name="assets/font-awesome/css/font-awesome.css" />
    <h:outputStylesheet library="css" name="assets/plugins/pace/pace-theme-big-counter.css" />
    <h:outputStylesheet library="css" name="assets/css/style.css" />
    <h:outputStylesheet library="css" name="assets/css/main-style.css" />
     Page-Level CSS 
    <h:outputStylesheet library="css" name="assets/plugins/morris/morris-0.4.3.min.css" /><!--
    -->
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
                 <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <!-- Core CSS - Include with every page -->
    <h:outputStylesheet library="css" name="assets/plugins/bootstrap/bootstrap.css" />
    <h:outputStylesheet library="css" name="assets/font-awesome/css/font-awesome.css" />
    <h:outputStylesheet library="css" name="assets/plugins/pace/pace-theme-big-counter.css" />
    <h:outputStylesheet library="css" name="assets/css/style.css" />
    <h:outputStylesheet library="css" name="assets/css/main-style.css" />
    <!-- Page-Level CSS -->
    <h:outputStylesheet library="css" name="assets/plugins/morris/morris-0.4.3.min.css" />
     <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="GuestMainPage.xhtml">
                    <h:graphicImage name="images/hatswa2.png" library="images"/>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-danger" style='visibility: ${(checkLogin.messageNumber > 0) ? "visible;" : "hidden;"} '>#{checkLogin.messageNumber}</span>
                        <h:graphicImage name="images/send2.png" library="images" width="45" height="35"/>
                    </a>
                    
                    <!-- dropdown-messages -->
                    <c:if test="${checkLogin.messageNumber > 0}">
                        <ul class="dropdown-menu dropdown-messages">
                            <c:forEach items="#{checkLogin.adminMessages}" var="message">             
                                <li>
                                    <h:commandLink action="#{messages.seeMessage(message.id)}">
                                        <div>
                                            <strong><span class=" label label-danger"><h:outputText value="#{message.from}"/></span></strong>
                                            <span class="pull-right text-muted">
                                                <em>
                                                    <h:outputText value="#{message.date}"/>
                                                </em>
                                            </span>
                                        </div>
                                        <div>
                                            <h:outputText value="#{message.subject}..."/>
                                        </div>
                                    </h:commandLink>
                                </li>
                                <li class="divider"></li>
                            </c:forEach>
                            <li>
                                <h:commandLink class="text-center" action="#{messages.adminMessagesAll}" value="Read All Messages"/>
                            </li>
                        </ul>
                    </c:if>
                    <!-- end dropdown-messages -->
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-danger" style='visibility: ${(adminNotification.notificationsNumber > 0) ? "visible;" : "hidden;"} '>#{adminNotification.notificationsNumber}</span>
                        <h:graphicImage name="images/noti.png" library="images" width="45" height="35"/>
                    </a>
                    
                    <!-- dropdown-messages -->
                    <c:if test="${adminNotification.notificationsNumber > 0}">
                        <ul class="dropdown-menu dropdown-alerts">
                            <c:forEach items="#{adminNotification.communications}" var="notification">             
                                <li>
                                    <h:commandLink action="#{adminNotification.seeNotification(notification)}">
                                        <div>
                                            <i class="fa fa-tasks fa-fw"></i>New Offer
                                            <span class="pull-right text-muted small">#{notification.vendor.name}</span>
                                        </div>
                                    </h:commandLink>
                                </li>
                                <li class="divider"></li>
                            </c:forEach>
                            <li>
                                <strong>
                                    <h:commandLink class="text-center" action="#{messages.adminNotificationsAll}" value="All Notification"/>
                                </strong>
                            </li>
                        </ul>
                    </c:if>
                    <!-- end dropdown-messages -->
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <h:graphicImage name="images/profile.jpg" library="images"/>
<!--                        <i class="fa fa-user fa-3x"></i>-->
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
<!--                        <li><a href="#">
                                <i class="fa fa-user fa-fw"></i>
                                     <h:graphicImage name="images/profile2.png" library="images"/>
                                Profile</a>
                        </li>
                        <li class="divider"></li>-->
                        <li><h:commandLink action="#{checkLogin.logout()}">
                                    <h:graphicImage name="images/logout.jpg" library="images"/>
                                Logout</h:commandLink>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->
        </nav>
        <!-- end navbar top -->
        
        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
<!--                    <p:dataList class="nav" id="side-menu">-->
                        
                    <li>
                        <!-- user image section-->
                        
                        <div class="user-section">
                            <div class="user-section-inner">
<!--                                <img src="../assets/img/user.jpg" alt=""/>-->
                                <h:graphicImage name="images/user.jpg" library="images"/>
                                
                            </div>
                            <div class="user-info">
                                <div><h:outputLabel value="#{checkLogin.userName}"/>  <strong></strong></div>
                                <div class="user-text-online">
                                    <!--<span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online-->
                                </div>
                                <br/>
                            </div>
                        </div>
                        <!--end user image section-->
                        
                    </li>
                    <li>
                        <a href="AdminManageItems.xhtml">Manage Items</a>
                    </li>
                    <li>
                        <a href="AdminManageVendors.xhtml">Manage Vendors</a>
                    </li>                            
                    <li>
                        <h:commandLink action="#{messages.adminMessagesAll}" value="All Messages"/>
                    </li>
                    <li>
                        <h:commandLink action="#{messages.adminNotificationsAll}" value="All Notification"/>
                    </li>
                </ul>
<!--                    </p:dataList>-->
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side --> 
            </h:form>
	 </ui:composition>
    </h:body>
</html>

