<!DOCTYPE html [
<!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hatswa2 | Manage Item</title>
    <f:metadata>
        <f:event type="preRenderView" listener="#{checkLogin.permission}"/>
    </f:metadata>
     <style type="text/css">
    
    .ui-icon-plusthick {display:none;}
    
    .ui-fileupload-content {border-style:none; display: none;}
    
  </style>
</h:head>
<h:body>
    <ui:insert name="header" >
        <ui:include src="AdminHeader.xhtml" />
    </ui:insert>

    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->

        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Manage items</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <!--Simple table example -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>All items
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive"> 
                                        <f:view>
                                            <h:form prependId="false" id='formTable'>
                                                <h:panelGroup id='tablepanel' >
                                                <p:dataTable class="table table-bordered table-hover table-striped" value="#{adminItem.model}" var="item" id="myTable" >                                                          
                                                    <p:column> 
                                                        <f:facet name="header">Name</f:facet>
                                                        <p:inputText value="#{item.name}" size="15" rendered="true" style="width: 105px"/>
                                                    </p:column>        
                                                    <p:column> 
                                                        <f:facet name="header">Icon</f:facet>                                                                   
                                                        <h:graphicImage value="/faces/images/dynamic/?file=#{item.icon}" id="theItemIcon" width="70" height="70"/><br/>                      
                                                        <p:fileUpload fileUploadListener="#{adminItem.updateIcon}" auto="true" 
                                                                      mode="advanced" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" update="theItemIcon"/>                
                                                    </p:column>
                                                    <p:column> 
                                                        <f:facet name="header">Description</f:facet>
                                                        <p:inputText value="#{item.description}" size="25" rendered="true" style="width: 105px"/>
                                                    </p:column>
                                                    <p:column> 
                                                        <f:facet name="header">Status</f:facet>                                                               
                                                        <p:commandButton style="background-color: #d9534f !important;"
                                                        action="#{adminItem.deactivateItem}" value="${item.deactivateText}" id="but" update="but"/>                                                                
                                                    </p:column>
                                                    <p:column>
                                                        <f:facet name="header">Operation</f:facet>
                                                        <center>
                                                            <p:commandButton style="background-color: #5cb85c !important;" value="Update" action="#{adminItem.updateItem}" />                           
                                                        </center>
                                                    </p:column>
                                                </p:dataTable>  
                                                    </h:panelGroup>
                                                <br/>
                                                <button type="button" class="btn btn-primary" style="float: right;" onclick="PF('dlg').show()">Add Item</button>                                                                       

                                                <p:dialog header="Add item" widgetVar="dlg" showEffect="fade" id="thedialog" >
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <tr>
                                                            <td>
                                                                Logo
                                                            </td>
                                                            <td>
                                                                Name
                                                            </td>
                                                            <td>
                                                                Description
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h:graphicImage  value="/faces/images/dynamic/?file=#{adminItem.fileName}" id="AddUploadedImg" width="70" height="70"/>
                                                                <p:fileUpload fileUploadListener="#{adminItem.handleFileUpload}" label="Choose" auto="true" update="AddUploadedImg"/>
                                                            </td>

                                                            <td>
                                                                <h:inputText   value="#{adminItem.itemName}" id="name"/>
                                                            </td> 

                                                            <td>
                                                                <h:inputText  value="#{adminItem.itemDescription}" id="desc"/>
                                                            </td> 
                                                        </tr>
                                                        <tr></tr>  
                                                    </table>
                                                    <p:commandButton  class="btn btn-primary" style="float: right;" onclick="PF('dlg').hide()"  value="Add" actionListener="#{adminItem.handleClose}" update="name desc AddUploadedImg formTable" oncomplete="location.reload();" />
                                                </p:dialog>
                                            </h:form>
                                        </f:view>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!--End simple table example -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->

    <ui:insert name="footer" >
        <ui:include src="AdminVendorFooter.xhtml" />
    </ui:insert>
</h:body>
</html>
