<!DOCTYPE html [
<!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
        <title>Hatswa2 | Vendor Offer</title>
        <f:metadata>
        <f:event type="preRenderView" listener="#{checkLogin.permission}"/>
    </f:metadata>
</h:head>
<h:body>     
    <!--Header--> 
    <ui:insert name="header" >
        <ui:include src="AdminHeader.xhtml" />
    </ui:insert>
    <!--End Header-->

    <!--  wrapper -->
    <div id="wrapper">       
        <div id="page-wrapper">
            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <h:outputLabel value="#{adminNotification.offer.vendor.name}" /><p:spacer width="100" height="10" />
                        <br/>
                        <br/>
                        <div class="col-lg-3">
                            <div class="alert alert-success text-center">
                                <h:graphicImage name="images/green.jpg" library="images"/>
                                &nbsp;<b>Start </b><h:outputLabel value="#{adminNotification.offer.startDate}" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="alert alert-success text-center">
                                <h:graphicImage name="images/green.jpg" library="images"/>
                                &nbsp;<b>End</b><h:outputLabel value="#{adminNotification.offer.endDate}" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="alert alert-success text-center">
                                <h:graphicImage name="images/green.jpg" library="images"/>
                                &nbsp;<b>Offer rate<p:rating value="#{adminNotification.offer.rate}" readonly="true" /></b>
                            </div>
                        </div>
                    </h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <!--Simple table example -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Offer details                           
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <f:view>
                                            <h:form>
                                                <p:commandButton type="button" onclick="PF('switcher').previous();"
                                                                 icon="ui-icon-circle-triangle-w" id="prev"/>
                                                <p:commandButton type="button" onclick="PF('switcher').next();"
                                                                 icon="ui-icon-circle-triangle-e" id="next"/>    

                                                <p:imageSwitch effect="wipe" widgetVar="switcher" id="manuelSwitcher"
                                                               slideshowAuto="false">
                                                    <ui:repeat value="#{adminNotification.images}" var="image" id="manuelSwitcherImages">
                                                        <h:graphicImage value="/faces/images/dynamic/?file=#{image}"  alt="" id="logoImage" width="400" height="700"/>
                                                    </ui:repeat>
                                                </p:imageSwitch>

                                                <br/>
                                                <br/>
                                                <h3>Items</h3>
                                                <p:dataTable class="table table-bordered table-hover table-striped" value="#{adminNotification.dataModel}" var="item" id="myTable" >
                                                    <p:column> 
                                                        <f:facet name="header">Image</f:facet>
                                                        <h:graphicImage value="/faces/images/dynamic/?file=#{item.image}" id="theItemIcon" width="150" height="200"/><br/>                      
                                                    </p:column>  
                                                    <p:column> 
                                                        <f:facet name="header">Name</f:facet>
                                                        <h:outputLabel value="#{item.name}"/>
                                                    </p:column>  
                                                    <p:column> 
                                                        <f:facet name="header">Description</f:facet>
                                                        <h:outputLabel value="#{item.description}"/>
                                                    </p:column> 
                                                    <p:column> 
                                                        <f:facet name="header">Price</f:facet>
                                                        <h:outputLabel value="#{item.price}"/>
                                                    </p:column> 
                                                    <p:column> 
                                                        <f:facet name="header">Rate</f:facet>
                                                        <p:rating value="#{item.rate}"/>
                                                    </p:column> 
                                                </p:dataTable> 
                                                <br/>
                                                <br/>
                                                <p:commandButton icon="ui-icon-check" style="margin: 6px;background: #04B173;" class="btn btn-success btn-circle btn-xl" action="#{adminNotification.acceptOffer}">
                                                </p:commandButton>
                                                <p:commandButton style="background: #ff0000;" class="btn btn-danger btn-circle btn-xl"  icon="ui-icon-closethick" action="#{adminNotification.rejectOffer}">
                                                </p:commandButton>
                                            </h:form>
                                        </f:view>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!--End simple table example -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <ui:insert name="footer" >
        <ui:include src="AdminVendorFooter.xhtml" />
    </ui:insert>
</h:body>
    
</html>