<!DOCTYPE html [
<!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
          
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
        <title>Hatswa2 | Vendor Notification</title>
        <f:metadata>
            <f:event type="preRenderView" listener="#{checkLogin.permission}"/>
        </f:metadata>
</h:head>
<h:body>     
    <!--Header--> 
    <ui:insert name="header" >
        <ui:include src="AdminHeader.xhtml" />
    </ui:insert>
    <!--End Header-->

    <!--  wrapper -->
    <div id="wrapper">       
        <div id="page-wrapper">
            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h3 class="page-header">Message from <b>Vendor</b></h3>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <center>
                        <h:form>
                            <!--Simple table example -->
                            from : <h:outputLabel value="#{adminNotification.communication.vendor.name}"/><br/>
                            subject : <h:outputLabel value="#{adminNotification.communication.message.subject}"/><br/>
                            date : <h:outputLabel value="#{adminNotification.communication.message.date}"/>
                            <br/><br/><br/>
                            <!--End simple table example -->                                
                            <h:commandLink action="#{adminNotification.showOffer()}" value="To Show Offer Click Here" >
                                <f:setPropertyActionListener target="#{adminNotification.communication}" value="#{adminNotification.communication}" />
                            </h:commandLink> 
                        </h:form>
                    </center>
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <ui:insert name="footer" >
        <ui:include src="AdminVendorFooter.xhtml" />
    </ui:insert>
</h:body>
    
</html>