<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Hatswa2 | Add Vendor</title>
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
        <f:metadata>
        <f:event type="preRenderView" listener="#{checkLogin.permission}"/>
    </f:metadata>
        <style type="text/css">
    
    .ui-icon-plusthick {display:none;}
    
    .ui-fileupload-content {border-style:none; display: none;}
    
  </style>
    </h:head>
    <h:body>
        <!--  wrapper -->
         
        <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>
    <div id="wrapper">
                <!--  page-wrapper -->
          <div id="page-wrapper">
            <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Add Vendor</h1>
                </div>
                <!--end page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                         
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                
                                <h:form role="form" prependId="false">
                                    
                                            <div class="col-lg-6">
                                                
                                            <label class="control-label" for="inputError">Vendor name</label>
                                            <p:inputText placeholder="Vendor Name" class="form-control" value="#{Vendor.name}" required="true"
                                                         requiredMessage="Please enter vendor name" id="vName"/>

                                        <br/>
                                            <label class="control-label" for="inputError">Logo</label>
<br/>
                                           
                                              <h:graphicImage value="/faces/images/dynamic/?file=#{Vendor.logo}"  alt="" id="logoImage" width="70" height="70"   />
                                                     <p:fileUpload fileUploadListener="#{Vendor.handleFileUpload}" sizeLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" label="Choose" auto="true"
                                                                   update="logoImage" required="true" requiredMessage="Please upload logo image" id="logo"  />

                                            <br/>
                                            
                                        
                                         <br/>
                                            <label class="control-label" for="inputError">Representitive name</label>
                                            <p:inputText placeholder="Representitive name" class="form-control" value="#{Vendor.representativeName}"
                                                         required="true" requiredMessage="Please enter representitive name" id="repName"/>

                                        <br/>
                                           
                                        
    <h:commandButton type="submit" class="btn btn-primary" value="Next" action="#{Vendor.addVendor}"  />
    <br/>
    <br/>
    <h:messages class="alert alert-danger" />
                                            </div>
                                       
                                    <div class="col-lg-6">
                                            <label class="control-label" for="inputError">User Name</label>
                                            <p:inputText placeholder="User name" class="form-control" value="#{Vendor.username}" required="true"
                                                         requiredMessage="Please enter user name"  id="UserName"  />
                                            <h:outputText id="checkUserName" value="#{checkVendor.userNameMessage}" />
                                        <br/>
                                            <label class="control-label" for="inputError">Password</label>
                                            <p:password placeholder="Password" class="form-control" value="#{Vendor.password}" required="true"
                                                        requiredMessage="Please enter password" id="password"/>
                                            
                                        
                                    </div>
                                    </h:form>
                                
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->
        <!--Don't forget to include all js pages here-->

       <ui:insert name="footer" >
             <ui:include src="AdminVendorFooter.xhtml" />
        </ui:insert>  
    </h:body>
</html>
