<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Hatswa2 | Add Vendor</title>
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
       <f:metadata>
        <f:event type="preRenderView" listener="#{checkLogin.permission}"/>
    </f:metadata>
    </h:head>
    <h:body>
        <!--  wrapper -->
         
        <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>
    <div id="wrapper">
                <!--  page-wrapper -->
          <div id="page-wrapper">
            <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Add Vendor</h1>
                </div>
                <!--end page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                         
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                
                                <h:form role="form" prependId="false">
                                      
                                            <div class="col-lg-6">
                                         
                                        
<!--                                        <button type="submit" class="btn btn-primary" onclick="AdminMainPage">Submit Button</button>-->
 
<h3> <h:outputText value="#{Vendor.username}" class="control-label"/> </h3>                                 
                                                <h4> <label class="control-label" for="inputError">Main branch</label></h4>
                                               <br/>
                                               
                                                <br/>
                                                <label class="control-label" for="inputError">Address</label><br/>
                                               
                                                <p:inputTextarea placeholder="Address" rows="3" cols="60" class="form-control" value="#{Vendor.address}"/>
                                              <br/>
                                                
                                                <label class="control-label" for="inputError">Description</label><br/>
                                               
                                                <p:inputTextarea placeholder="Description" rows="3" cols="60" class="form-control" value="#{Vendor.briefInfo}"/>
                                              <br/>
                                               <br/>
<!--             <p:gmap center="51.5073509,-0.12775829999998223" zoom="15" type="HYBRID" style="width:100%;height:400px" />-->
 <p:growl id="messages" showDetail="true" />
 
<p:gmap id="gmap" center="27.916766641249065,31.376953125" zoom="5" type="HYBRID" style="width:100%;height:400px"
        model="#{Vendor.emptyModel}" onPointClick="handlePointClick(event);" widgetVar="map"  />
 
<p:dialog widgetVar="dlg" showEffect="fade">
<!--    <h:form prependId="false">-->
        <h:panelGrid columns="2">
            <h:outputLabel for="title" value="Name: " />
            <h:inputText value="#{Vendor.title}" id="title" />
            <f:facet name="footer">
                <p:commandButton value="Add" actionListener="#{Vendor.addMarker}" update=":messages" oncomplete="markerAddComplete()"   />
                <p:commandButton value="Cancel" onclick="return cancel()" />
            </f:facet><!--
-->        </h:panelGrid><!--
 -->
<h:inputHidden id="lat" value="#{Vendor.lat}" />
<h:inputHidden id="lng" value="#{Vendor.lng}" />

<!--    </h:form>-->   
</p:dialog>
 
<h:outputScript name="js/map.js" library="js" />
                                        <br/>
<!--                                                <button type="button" class="btn btn-primary" style="float: right;" onclick="PF('dlg').show()">Add new branch</button>                                      -->
<h:commandButton type="submit" action="#{Vendor.addVendorBranch}" value="Next" class="btn btn-primary" />
                                            </div>
                                    <div class="col-lg-6">
                                        <br/>
                                        <br/>
                                        <h:graphicImage value="/faces/images/dynamic/?file=#{Vendor.logo}" library="images/vendor" alt="" id="logoImage"  />

                                    </div>
                                    </h:form>
                                
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->
        <!--Don't forget to include all js pages here-->

       <ui:insert name="footer" >
             <ui:include src="AdminVendorFooter.xhtml" />
        </ui:insert>  
    </h:body>
</html>
