<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:h="http://xmlns.jcp.org/jsf/html" 
          xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
          xmlns:f="http://xmlns.jcp.org/jsf/core"
          xmlns:p="http://primefaces.org/ui"
          xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
        <h:head>
            <title>Hatswa2 | Manage Vendor</title>
            <f:metadata>
                <f:event type="preRenderView" listener="#{checkLogin.permission}"/>
            </f:metadata>
            <script>
//                function myFunction(){
//                    if()
//                    document.getElementById("vendorBtn").disabled = false;
//                }
//            </script>
        </h:head>
        <h:body>     
            <!--Header--> 
            <ui:insert name="header" >
                <ui:include src="AdminHeader.xhtml" />
            </ui:insert>
            <!--End Header-->

            <!--  wrapper -->
            <div id="wrapper">       
                <div id="page-wrapper">
                    <div class="row">
                        <!-- Page Header -->
                        <div class="col-lg-12">
                            <h1 class="page-header">Manage vendors</h1>
                        </div>
                        <!--End Page Header -->
                    </div>


                    <div class="row">
                        <div class="col-lg-8">
                            <!--Simple table example -->
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i>All Vendors                           
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <f:view>
                                                    <h:form id="vendorsForm">
                                                         <h:messages class="alert alert-danger" />
                                                        <p:dataTable class="table table-bordered table-hover table-striped" value="#{manageVendor.model}" 
                                                            var="vendor" selection="#{manageVendor.selectedVendors}" rowKey="#{vendor.id}" id="vendorsTable">
                                                            <p:column selectionMode="multiple" style="width:35px" />
                                                            <p:column> 
                                                                <f:facet name="header">Name</f:facet>
                                                                <h:commandLink action="#{manageVendor.goToProfile()}" value="#{vendor.name}" />
                                                            </p:column>        
                                                            <p:column> 
                                                                <f:facet name="header">Logo</f:facet>                                                                   
                                                                <h:commandLink action="#{manageVendor.goToProfile()}">
                                                                    <h:graphicImage value="/faces/images/dynamic/?file=#{vendor.logo}" width="110" height="85"/>
                                                                </h:commandLink>
                                                            </p:column>
                                                            <p:column> 
                                                                <f:facet name="header">Status</f:facet> 
                                                                <h:commandButton class="btn btn-outline btn-danger" action="#{manageVendor.blockVendor}" value="#{vendor.vendorStatus}"/>
                                                            </p:column>
                                                            <p:column>
                                                                <f:facet name="header">View</f:facet>
                                                                <center>
                                                                    <h:commandButton class="btn btn-outline btn-success" value="Offers" action="#{manageVendor.allOffers(vendor.id)}" >
                                                                       
                                                                    </h:commandButton>           
                                                                    <br/><br/>
                                                                    <h:commandButton class="btn btn-outline btn-success" value="Add Offer" action="#{newOffer.chooseNewVendor()}" >
                                                                        <f:setPropertyActionListener target="#{newOffer.vendor}" value="#{vendor}" />
                                                                    </h:commandButton>  
                                                                </center>
                                                            </p:column>
                                                            <f:facet name="footer">
                                                                <p:commandButton  process="vendorsTable"
                                                                             value="Check Selected Vendors"
                                                                             icon="ui-icon-search" 
                                                                             update=":vendorsForm:displayMultiRec"
                                                                             oncomplete="PF('multiRecDialog').show()">
                                                                </p:commandButton>
                                                                 &#160;&#160;
                                                                <h:commandButton class="btn btn-primary" value="Add Vendor" action="AdminAddVendor"/>
                                                            </f:facet>
                                                        </p:dataTable>                                            
                                                        <br/>
                                                       
                                                        <p:dialog id="multiDialog" header="Vendors selected" widgetVar="multiRecDialog" 
                                                                  modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="200"> 
                                                            <p:dataList id="displayMultiRec" value="#{manageVendor.selectedVendors}" var="selectedRecord"> 
                                                                #{selectedRecord.name}
                                                            </p:dataList>
                                                        </p:dialog> 
                                                    </h:form>
                                                </f:view>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- New row -->
                                    <!--send Message fade button-->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <button class="btn btn-primary" id="vendorBtn" data-toggle="modal" data-target="#myMsg">
                                                        Send Message
                                                    </button>
                                                    <f:view>
                                                        <h:form>
                                                            <div class="modal fade" id="myMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                                                            <h4 class="modal-title" id="myModalLabel">Broadcast Message</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <center>
                                                                                Subject : <h:inputText value="#{manageVendor.subject}" size="40"/><br/><br/><br/>
                                                                                Body : <h:inputTextarea value="#{manageVendor.body}" cols="55" rows="8"/>
                                                                            </center>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <h:commandButton class="btn btn-primary" action="#{manageVendor.sendMessageToVendor()}" value="Send"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </h:form>
                                                    </f:view>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!--End simple table example -->
                            <br/><br/>
                        </div>
                    </div>
                </div>
                <!-- end page-wrapper -->
            </div>


            <!-- end wrapper -->

            <!-- Core Scripts - Include with every page -->
            <ui:insert name="footer" >
                <ui:include src="AdminVendorFooter.xhtml" />
            </ui:insert>
        </h:body>
    </html>