
<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Hatswa2 | Add Offer</title>
        <f:metadata>
            <f:event type="preRenderView" listener="#{checkLogin.permission}"/>
            <f:event type="preRenderView" listener="#{newOffer.checkVendor()}"/>
        </f:metadata>
   </h:head>
    <h:body>
         <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>
    <!--  wrapper -->
      <ui:insert name="content" >
	 	  <ui:include src="TemplateAdminVendorAddOffer.xhtml" />
       </ui:insert> 
    <!-- end wrapper -->
    <!-- Core Scripts - Include with every page -->
     <ui:insert name="footer" >
	 <ui:include src="AdminVendorFooter.xhtml" />
    </ui:insert>
</h:body>

</html>
