<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Hatswa2 | Add Vendor</title>
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
        <f:metadata>
        <f:event type="preRenderView" listener="#{checkLogin.permission}"/>
    </f:metadata>
    </h:head>
    <h:body>
        <!--  wrapper -->
         
        <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>
    <div id="wrapper">
                <!--  page-wrapper -->
          <div id="page-wrapper">
            <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Add Vendor</h1>
                </div>
                <!--end page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                         
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                
                                <h:form role="form" prependId="false">
                                    
                                            <div class="col-lg-6">
                                              <h3> <h:outputText value="#{Vendor.username}" class="control-label"/> </h3> 
                                              <h5><h:outputText value="#{Vendor.representativeName}" class="control-label"/></h5>
                                           <br/>
                                            <label class="control-label" for="inputError">Phone of the representitive </label>
                                            <p:inputText placeholder="phone" class="form-control"  value="#{Vendor.phone}" required="true"
                                                         requiredMessage="Please enter phone of the representitive" id="pRep"/>
                                              

                                           <br/>
                                           <label class="control-label" for="inputError">commercial phone </label>
                                           <p:inputText placeholder="phone" class="form-control" value="#{Vendor.phone2}"
                                                        required="true" requiredMessage="Please enter commercial phone" id="cPhone"/>

                                           <br/>
                                        
                                        <h:commandButton type="submit" class="btn btn-primary" value="Submit" action="#{Vendor.addVendorMobile}"  />
                                        
                                         
                                            </div>
                                            <div class="col-lg-6">
                                        <br/>
                                        <br/>
                                       
                                            <br/>
                                            <br/>
                                            <br/>

                                    </div>                         
                                    </h:form>
                                
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->
        <!--Don't forget to include all js pages here-->

       <ui:insert name="footer" >
             <ui:include src="AdminVendorFooter.xhtml" />
        </ui:insert>  
    </h:body>
</html>
