

<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Hatswa2 | All Notification</title>
        <f:metadata>
            <f:event type="preRenderView" listener="#{checkLogin.permission}"/>
        </f:metadata>
   </h:head>
    <h:body>
        <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>
        <!--  wrapper -->
                <div id="wrapper">
                    <!--  page-wrapper -->
                    <div id="page-wrapper">
                        <div class="row">
                            <!-- Page Header -->
                            <div class="col-lg-12">
                                <h1 class="page-header">All Notifications</h1>
                            </div>
                            <!--End Page Header -->
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <!--    Context Classes  -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Admin Notificatioins
                                    </div>

                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <h:dataTable class="table table-bordered table-hover table-striped" value="#{messages.communications}" var="notification" headerClass="info" rowClasses="success,warning,danger,info">
                                                <h:column>
                                                    <f:facet name="header">Subject</f:facet>
                                                    <h:outputText  class="success" value="#{notification.message.subject}"/>
                                                </h:column>
                                                <h:column>
                                                    <f:facet name="header">Body</f:facet>
                                                    <h:outputText value="#{notification.message.body}"/>
                                                </h:column>
                                                <h:column> 
                                                    <f:facet name="header">Date</f:facet>
                                                    <h:outputText value="#{notification.message.date}"/>
                                                </h:column>
                                            </h:dataTable>
                                        </div>
                                    </div>
                                </div>
                                <!--  end  Context Classes  -->
                            </div>
                        </div>
                    </div>
                    <!-- end page-wrapper -->

                </div>
                <!-- end wrapper -->
        <ui:insert name="footer" >
	 <ui:include src="AdminVendorFooter.xhtml" />
    </ui:insert>
</h:body>

</html>
