<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Hatswaq | Search</title>
     
    </h:head>
    <h:body>
       <ui:insert name="header" >
        <ui:include src="GuestHeader.xhtml" />
    </ui:insert>
        <div class="main">
            <div class="content_box">
                <div class="container">
                    <div class="row">
    <ui:insert name="content" >
        <ui:include src="GuestHeader2.xhtml" />
    </ui:insert>
                        <h:form>        
                        <div class="col-md-9">
                            <h3 class="m_1">All Offers</h3>
                            <div class="content_grid">
                                <ui:repeat value="#{Search.offersSearch}" var="offer" >
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div  class="product_image">
                                                 <h:commandLink action="#{Search.offerDetails()}">
                                                     <h:graphicImage value="/faces/images/dynamic/?file=#{offer.icon}" height="200" />
                                                 </h:commandLink>
                                                <div class="mask">
                                                    <div class="info">View details</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">#{offer.description}</p></div>
                                                    
                                                    <div class="price"><p:rating cancel="false" stars="5" value="#{offer.rate}"/></div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
<!--                                            <div class="sale-box"><span class="on_sale title_shop">New</span></div>	-->
                                        </div>
                                    </div>
                                </div>
                                
                                </ui:repeat>
                                
                                <div class="clearfix"></div>
                            </div>
                          
                            
                        </div>
                        </h:form>
                    </div>
                </div>
                <div class="container">
                    
                </div>
                
            </div>
            </div>
            
            <div class="footer_bottom">
                <div class="container">
                    <div class="copy">
                        <p>&#169; 2016 ITI  <a href="http://w3layouts.com" target="_blank"> Hatswaq</a></p>
                    </div>
                </div>
            </div>
            
    </h:body>
</html>