<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Hatswaq | Home</title>
     
    </h:head>
    <h:body>
        <center/>
       <ui:insert name="header" >
        <ui:include src="GuestHeader.xhtml" />
    </ui:insert>
        <div class="main">
            <div class="content_box">
                <div class="container">
                    <div class="row">
    <ui:insert name="content" >
        <ui:include src="GuestHeader2.xhtml" />
    </ui:insert>
                        <h:form>
                            <h:graphicImage name="images/sent.jpg" library="images" />
                   </h:form>
                    </div>
                </div>
                <div class="container">
                    
                </div>
                <div class="container">
                    <ul class="footer_social">
                        <li><a href="#"> <i class="fb"> </i> </a></li>
                        <li><a href="#"><i class="tw"> </i> </a></li>
                        <li><a href="#"><i class="pin"> </i> </a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="footer-grid">
                        <h3>Links</h3>
                        <ul class="list1">
                            <li><a href="apparel.html">Home</a></li>                                    
                            <li><a href="apparel.html">vendors Offer</a></li>
                            <li><a href="apparel.html">vendor Profile</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="apparel.html">Dowenload Mobile App</a></li>
                        </ul>
                    </div>
                    <div class="footer-grid">
                        <h3>Our Account</h3>
                        <ul class="list1">
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Personal information</a></li>
                            <li><a href="#">Addresses</a></li>
                            <li><a href="#">Discount</a></li>
                            <li><a href="#">Orders history</a></li>
                            <li><a href="#">Addresses</a></li>
                            <li><a href="#">Search Terms</a></li>
                        </ul>
                    </div>
                    <div class="footer-grid">
                        <h3>Our Support</h3>
                        <ul class="list1">
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">Search Terms</a></li>
                            <li><a href="#">Advanced Search</a></li>
                            <li><a href="#">Mobile</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Mobile</a></li>
                            <li><a href="#">Addresses</a></li>
                        </ul>
                    </div>
                    <div class="footer-grid">
                        <h3>Newsletter</h3>
                        <p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
                        <div class="search_footer">
                            <input type="text" class="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {
                                        this.value = 'Insert Email';
                                    }"/>
                            <input type="submit" value="Submit"/>
                        </div>
                        <img src="images/payment.png" class="img-responsive" alt=""/>
                    </div>
                    <div class="footer-grid footer-grid_last">
                        <h3>About Us</h3>
                        <p class="footer_desc">WELCOME TO HATSWAQ The only online store you will ever need for all your Offer and main products .</p>
                        <p class="f_text">Phone:  &#160;&#160;&#160;00-250-2131</p>
                        <p class="email">Email: &#160;&#160;&#160;<span>info(at)Surfhouse.com</span></p>	
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="copy">
                        <p>&#169; 2016 ITI  <a href="http://w3layouts.com" target="_blank"> Hatswaq</a></p>
                    </div>
                </div>
            </div>
            
    </h:body>
</html>