<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
       xmlns:pm="http://primefaces.org/mobile"
       >
   
    <h:body>       
        <h:form>
            <f:view>
               
                <br/>
                <br/>
                        <div class="col-md-3">
                            <div class="menu_box">
                                <h3 class="menu_head">Menu</h3>
                                <ul class="nav">
                                   
                                    <li><h:link value="Home" outcome="GuestMainPage"/></li>                                    
                                    <li><h:link value="Contact Us" outcome="GuestContactUs"/></li>
             
                                   
                                </ul>
                            </div>
                            <div class="box search">
                                <h2>Search by <span></span></h2>
                                <div class="box-content">                                    
<!--                                    <label>Keyword</label>
                                    <div class="search">
                                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                    this.value = 'Search';
                                                }"/>
                                        <input type="submit" value=""/>
                                    </div>-->
                                   
                                        <label>Vendors</label>
                                        <p:selectOneMenu class="field" value="#{Search.vendorName}">
                                            <f:selectItem itemLabel="Select " noSelectionOption="true" itemValue="" />
                                            <f:selectItems value="#{Search.vendorNames}" />
                                            
                                        </p:selectOneMenu>
                                        <div class="inline-field">
                                            <label>Offers start from :</label> 
                                            <p:calendar pattern="dd-MMM-yyyy" value="#{Search.start}"/>
                                            <br/>
                                            <label>to:</label>
                                            <br/>
                                            <p:calendar pattern="dd-MMM-yyyy" value="#{Search.end}"/>
                                        </div>   
                                        <a href="#" class="bul"></a> 
                                        <h:commandLink value="Vendor profile" action="#{Search.vendorProfile}" />
                                        <h:messages/>
                                        <h:commandButton class="mmm" value="Search" action="#{Search.searchOffer}" />
                                </div>
                            </div>
                            <a href="https://play.google.com/store?hl=en">
                            <p:graphicImage  width="270" height="100" library="images/images/" name="Android_icon.png"/>
                            </a>
                        </div>

             
            </f:view>
        </h:form>
    </h:body>
</html>