<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      >
    <h:head>
        <title>Hatswaq | Home</title>
     <style type="text/css">
    
         .mapPAnel{
             display: block;
            height: 100%;
              width: 100%;
              
            margin: 0;
            }  
.mapClass {
    min-width:400px;
    width: 400px;
    height: 400px;
}


    
  </style>
  <script src="http://maps.google.com/maps/api/js?sensor=false" 
          type="text/javascript"></script>
    </h:head>
    <h:body>
       <ui:insert name="header" >
        <ui:include src="GuestHeader.xhtml" />
    </ui:insert>
        <div class="main">
            <div class="content_box">
                <div class="container">
                    <div class="row">
    <ui:insert name="content" >
        <ui:include src="GuestHeader2.xhtml" />
    </ui:insert>
                        <h:form prependId="false">
                        <div class="col-md-9">
                            <h3 class="m_1"><h:outputLabel value="#{Search.vendor.name}" /></h3>
                            <div class="content_grid">
                                
                                <h:graphicImage value="/faces/images/dynamic/?file=#{Search.vendor.logo}" />        
                                <p:dataList value="#{Search.dataModelBranch}" var="branch" type="unordered">
                                            <f:facet name="header">
            Branches
        </f:facet>
            <p:commandLink value="#{branch.name}"  onclick="getThisLocation(#{branch.longitude},#{branch.latitude});showmobs();"  action="#{Search.branchMobile}" update="themobs">
                <f:setPropertyActionListener target="#{Search.mobiles}" value="#{branch.mobiles}" />
            </p:commandLink><br/> <h:outputLabel value="   Address:" /><h:outputLabel value="#{branch.address}"/>
                                 

                                    <script type="text/javascript">
     
        $(document).ready(function() {
     document.getElementById("mapdiv").style.display = "none";
     document.getElementById("themobs").style.display = "none";
});
        
          function getThisLocation(long,latt) {
                document.getElementById("mapdiv").style.display = "block";
                latlon = new google.maps.LatLng(long, latt);
                mapholder = document.getElementById('mapholder');
                mapholder.style.height = '250px';
                mapholder.style.width = '500px';

                var myOptions = {
                    center: latlon, zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false,
                    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL}
                };
                var map = new google.maps.Map(document.getElementById("mapholder"), myOptions);
                var marker = new google.maps.Marker({position: latlon, map: map, title: "You are here!"});
            } 
           
           function showmobs(){
               document.getElementById("themobs").style.display = "block";
           }
    
</script>
                                </p:dataList>
                                
                                <p:dataList  value="#{Search.mobiles}" var="mobile" style="unorderd" id="themobs" >
                                                <f:facet name="header">
                                                    Hotlines 
                                                </f:facet>
                                    <h:outputLabel value="#{mobile.phone}" rendered="#{!mobile.status}" />
                                   
                            </p:dataList>
                    <div id="mapdiv">
                                <h3 class="like">Branch Location :</h3><br/>
                                
                                <div id="mapholder"></div>
                    </div>   
                                <div class="clearfix"></div>
                            </div>
                         
                        </div>
                   </h:form>
                    </div>
                </div>
                <div class="container">
                    
                </div>
                
            </div>
            </div>
            
            <div class="footer_bottom">
                <div class="container">
                    <div class="copy">
                        <p>&#169; 2016 ITI  <a href="http://w3layouts.com" target="_blank"> Hatswaq</a></p>
                    </div>
                </div>
            </div>
            
    </h:body>
</html>