<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Hatswaq | Offer</title>
        <h:outputStylesheet library="css" name="css/bootstrap.css"/>
                <h:outputScript library="primefaces" name="jquery/jquery.js"/>

<!--        <h:outputScript name="js/jquery.min.js" library="js"/>-->
        <!-- Custom Theme files -->
        <h:outputStylesheet library="css" name="css/style.css"/>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <h:outputStylesheet library="css" name="css/component.css"/>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--webfont-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'></link>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'></link>
        <script src="js/jquery.easydropdown.js"></script>
        <!-- Add fancyBox main JS and CSS files -->
        <h:outputScript name="js/jquery.magnific-popup.js" library="js"/>
        <h:outputStylesheet library="css" name="css/magnific-popup.css"/>
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
        </script>
        <h:outputScript name="js/jquery.etalage.min.js" library="js"/>
        <h:outputStylesheet library="css" name="css/etalage.css"/>
        <!-- Include the Etalage files -->
        <script>
jQuery(document).ready(function ($) {

$('#etalage').etalage({
    thumb_image_width: 300,
    thumb_image_height: 400,
    show_hint: true,
    click_callback: function (image_anchor, instance_id) {
        alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
    }
});
// This is for the dropdown list example:
$('.dropdownlist').change(function () {
    etalage_show($(this).find('option:selected').attr('class'));
});

});
        </script>
        <h:outputScript name="js/easyResponsiveTabs.js" library="js"/>
        <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion           
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
        </script>
    </h:head>
    <h:body>
        <div class="single">
            <div class="container">
                <div class="header-top">
                    <div class="logo">
                        <h:link outcome="GuestMainPage"><h:graphicImage name="images/logo.png" library="images"/></h:link>
                    </div>
                    <div class="header_right">
                        <ul class="social">
                            <li><a href=""> <i class="fb"> </i> </a></li>
                            <li><a href=""><i class="tw"> </i> </a></li>
                            <li><a href=""><i class="utube"> </i> </a></li>
                            <li><a href=""><i class="pin"> </i> </a></li>
                            <li><a href=""><i class="instagram"> </i> </a></li>
                        </ul>
                        <div class="lang_list">
                            <select tabindex="4" class="dropdown">
                                <option value="" class="label">En</option>
                                <option value="1">English</option>
                                <option value="2">French</option>
                                <option value="3">German</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>  
                <div   class="apparel_box">
                    <br/><br/><br/><br/><br/><br/><br/><br/>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content_box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="menu_box">
                                <h3 class="menu_head">Menu</h3>
                                <ul class="nav">
                                    <li><h:link value="Home" outcome="GuestMainPage"/></li>                                    
                                    <li><h:link value="Contact Us" outcome="GuestContactUs"/></li>
                                    <li><a href="https://play.google.com/store?hl=en">Dowenload Mobile App</a></li>
                                </ul>
                            </div>
                            <div class="box search">
                                <h2>Search by <span></span></h2>
                                <div class="box-content">                                    
                                    <label>Keyword</label>
                                    <div class="search">
                                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                    this.value = 'Search';
                                                }"/>
                                        <input type="submit" value=""/>
                                    </div>
                                    <form action="#" method="post">
                                        <label>Vendors</label>
                                        <select class="field">
                                            <option value="">-- Select Vendor --</option>
                                            <option value="">vendor 1</option>
                                            <option value="">vendor 2</option>
                                        </select>
                                        <div class="inline-field">
                                            <label>Date</label>
                                            <p:calendar value="#{sss}" />
                                            <label>to:</label>
                                            <p:calendar value="#{sss}"/>
                                        </div>   
                                        <a href="#" class="bul"></a> 
                                        <h:link value="Contact Vendor Supports" outcome="GuestVendorProfile"/>
                                        <input type="button" value="Search" class="mmm"></input>
                                    </form>
                                </div>
                            </div>
                            <div class="side_banner">
                                <div class="banner_img"><h:graphicImage name="images/se3ody.jpg" library="images"/></div>                               
                            </div>
                            <div class="tags">
                                <h4 class="tag_head">Vendors</h4>
                                <ul class="article_links">
                                    <li><h:link value="vendor 1" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 2" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 3" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 4" outcome="GuestVendorProfile"/></li>
                                    <li><h:link value="vendor 5" outcome="GuestVendorProfile"/></li>
                                </ul>
                                <h:link value="view all" outcome="GuestVendorProfile"/>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="dreamcrub">
                                <ul class="breadcrumbs">
                                    <li class="home">
                                        <a href="GuestMainPage.xhtml" title="Go to Home Page">Home</a>&nbsp;
                                        <span>&gt;</span>
                                    </li>
                                    <li class="home">&nbsp;
                                        سعودي&nbsp;  
                                        <!--\u0633\u0639\u0648\u062f\u064a-->
                                        <span>&gt;</span>&nbsp;
                                    </li>
                                    <li class="home">&nbsp;
                                        &nbsp;Vegetables and fruits
                                        <span>&gt;</span>&nbsp;
                                    </li>

                                </ul>
                                <ul class="previous">
<!--                                    <li><a href=".html">Back to Previous Page</a></li>-->
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="singel_right">
                                <div class="labout span_1_of_a1">
                                    <!-- start product_slider -->
                                    <ul id="etalage">
                                        <li>
                                            <a >                                                
                                                <h:graphicImage name="images/s1.jpg" library="images" class="etalage_thumb_image"/>
                                                
                                                 <p:imageSwitch effect="wipe" widgetVar="switcher" id="manuelSwitcher"
                                                                slideshowAuto="false">
                                    <ui:repeat value="#{Search.images}" var="image" id="manuelSwitcherImages">
                                                        <h:graphicImage value="/faces/images/dynamic/?file=#{image}"  alt="" id="logoImage" width="400" height="700"   />

                                                    </ui:repeat>
                                                  </p:imageSwitch>
<!--                                              <p:imageSwitch effect="shuffle"  >
                                                    <ui:repeat value="#{imagesView.images}" var="image">
                                                        <h:graphicImage name="images/#{image}" library="images" />
                                                    </ui:repeat>
                                                </p:imageSwitch>
                                                <h:graphicImage name="images/smal.jpg" library="images" class="etalage_source_image"/>                                                -->
                                            </a>
                                        </li>

                                    </ul>
                                    <!-- end product_slider -->
                                </div>
                                <div class="cont1 span_2_of_a1">
                                    <h1>Vegetables and fruits</h1>
                                             
                                <p:imageSwitch effect="wipe" widgetVar="switcher" id="manuelSwitcher"
                                                    slideshowAuto="false">
                                    <ui:repeat value="#{Search.images}" var="image" id="manuelSwitcherImages">
                                                        <h:graphicImage value="/faces/images/dynamic/?file=#{image}"  alt="" id="logoImage" width="400" height="700"   />

                                                    </ui:repeat>
                                </p:imageSwitch>
                                    <ul class="rating">

                                        <p:rating/>
                                        <div class="clearfix"></div>
                                    </ul>


                                    <br />
                                    <br />
                                    <h2 class="quick">Quick Overview:</h2>
                                    <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>

                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <h3 class="like">Items</h3>        			
                            <ul id="flexiselDemo3">
                                <li><h:graphicImage name="images/pic10.jpg" library="images"/><div class="grid-flex"><p:rating/></div></li>
                                <li><h:graphicImage name="images/pic9.jpg" library="images"/><div class="grid-flex"><p:rating/></div></li>
                                <li><h:graphicImage name="images/pic8.jpg" library="images"/><div class="grid-flex"><p:rating/></div></li>
                                <li><h:graphicImage name="images/pic7.jpg" library="images"/><div class="grid-flex"><p:rating/></div></li>
                                <li><h:graphicImage name="images/pic11.jpg" library="images"/><div class="grid-flex"><p:rating/></div></li>
                            </ul>
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $("#flexiselDemo3").flexisel({
                                        visibleItems: 3,
                                        animationSpeed: 1000,
                                        autoPlay: true,
                                        autoPlaySpeed: 3000,
                                        pauseOnHover: true,
                                        enableResponsiveBreakpoints: true,
                                        responsiveBreakpoints: {
                                            portrait: {
                                                changePoint: 480,
                                                visibleItems: 1
                                            },
                                            landscape: {
                                                changePoint: 640,
                                                visibleItems: 2
                                            },
                                            tablet: {
                                                changePoint: 768,
                                                visibleItems: 3
                                            }
                                        }
                                    });

                                });
                            </script>
                            <h:outputScript name="js/jquery.flexisel.js" library="js"/>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="brands">
                <ul class="brand_icons">
                    <li><h:graphicImage name="images/icon1.jpg" library="images" class="img-responsive"/></li>
                    <li><h:graphicImage name="images/icon2.jpg" library="images" class="img-responsive"/></li>
                    <li><h:graphicImage name="images/icon3.jpg" library="images" class="img-responsive"/></li>
                    <li><h:graphicImage name="images/icon4.jpg" library="images" class="img-responsive"/></li>
                    <li><h:graphicImage name="images/icon5.jpg" library="images" class="img-responsive"/></li>
                    <li><h:graphicImage name="images/icon6.jpg" library="images" class="img-responsive"/></li>
                    <li class="last"><h:graphicImage name="images/icon7.jpg" library="images" class="img-responsive"/></li>
                </ul>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="footer-grid">
                    <h3>Download the mobile application</h3>

                </div>

            </div>
        </div>
        <div class="footer_bottom">

        </div>
    </h:body>
</html>

