<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Hatswaq | Home</title>
     
    </h:head>
    <h:body>
        <center/>
       <ui:insert name="header" >
        <ui:include src="GuestHeader.xhtml" />
    </ui:insert>
        <div class="main">
            <div class="content_box">
                <div class="container">
                    <div class="row">
    <ui:insert name="content" >
        <ui:include src="GuestHeader2.xhtml" />
    </ui:insert>
                        <h:form>
                        <div class="col-md-9">
                            <h3 class="m_1"> </h3>
                            <div class="content_grid">
                                <div class="contact-form">
                                 <p class="comment-form-author"><label for="author">Subject:</label><br/>
                                     <p:inputText  placeholder="Subject" size="40" value="#{Search.subject}" /> 
                                 </p>
                                <p class="comment-form-author"><label for="author">Message:</label><br/>
                                    <p:inputTextarea  placeholder="Message" rows="6" cols="40" value="#{Search.body}"/> 
                                 </p>
                                    <h:commandButton  id="submit" value="Send Message" action="#{Search.sendMessge}"/>
                                <div class="clearfix"></div>
                                </div>
                            </div>
                         
<!--                            <h3 class="m_2">Top Rated Offers</h3>-->
<!--                            <div class="content_grid">
                                <div class="col_1_of_3 span_1_of_3"> 
                                    <div class="view view-first">
                                        <div class="inner_content clearfix">
                                            <div class="product_image">
                                                <h:link outcome="GuestItem"><h:graphicImage name="images/5odar.PNG" library="images"/></h:link>
                                                <div class="mask">
                                                    <div class="info">Quick View</div>
                                                </div>
                                                <div class="product_container">
                                                    <div class="cart-left">
                                                        <p class="title">سعودي</p>
                                                    </div>
                                                    <div class="price">16/7/2016</div>
                                                    <div class="clearfix"></div>
                                                </div>		
                                            </div>
                                            
         <div class="sale-box"><span class="on_sale title_shop">Top</span></div>	

                                        </div>

                                    </div>
                                </div>
                                
                            </div>-->
                        </div>
                   </h:form>
                    </div>
                </div>
                <div class="container">
                    
                </div>
                
            </div>
            </div>
           
            <div class="footer_bottom">
                <div class="container">
                    <div class="copy">
                        <p>&#169; 2016 ITI  <a href="http://w3layouts.com" target="_blank"> Hatswaq</a></p>
                    </div>
                </div>
            </div>
            
    </h:body>
</html>