<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Hatswaq | Home</title>
<!--         <h:outputScript name="assets/plugins/jquery-1.10.2.js" library="js" />-->

    </h:head>
    <h:body>
       <ui:insert name="header" >
        <ui:include src="GuestHeader.xhtml" />
    </ui:insert>
        <div class="main">
            <div class="content_box">
                <div class="container">
                    <div class="row">
    <ui:insert name="content" >
        <ui:include src="GuestHeader2.xhtml" />
    </ui:insert>
                        <h:form>        
                        <div class="col-md-9">
                            <h3 class="m_1">Offer details </h3>
                            <div class="content_grid">
                                                                <div class="cont1 span_2_of_a1">
                                                                    <h1><h:outputLabel value="#{Search.offer.description}"/></h1>
<!--                                    <ul class="rating">-->

    
<div style="position: relative; left: 380px; ">
                                <p:imageSwitch effect="shuffle" 
                                               >
                                           <ui:repeat value="#{Search.images}" var="image" id="manuelSwitcherImages">
                                                        <h:graphicImage value="/faces/images/dynamic/?file=#{image}"  alt="" id="logoImage" width="400" height="700"   />

                                            </ui:repeat>
                                </p:imageSwitch>
    </div>
<p:outputPanel id="therate">              
    <p:rating value="#{Search.offer.rate}" id="ratee" cancel="false">
    <p:ajax event="rate" listener="#{Search.calcRateOffer()}" update="therate"/>
</p:rating>
</p:outputPanel> 
                                        <div class="clearfix"></div>
<!--                                    </ul>-->


                                    <br />
                                    <br />
                                    <h1 class="quick"> Quick Overview:</h1>
                                    <p class="quick_desc"> <h3>
                                        Start date:  <h:outputLabel value="#{Search.offer.startDate}"/>
                                      <br/>
                                      End date: <h:outputLabel value="#{Search.offer.endDate}" />
                                        <br/>
                                        Vendor: <h:outputLabel value="#{Search.offer.vendor.name}" />
                                        </h3>
                                    </p>
                                </div>
                               
                                <div class="clearfix"></div>
                               
                            </div>
                             <h3 class="like">Items</h3>        			
                            <ul   id="flexiselDemo3">
                               
                                     <ui:repeat value="#{Search.dataModelItems}" var="item" id="items">
                                         <li>
                                             <div class="grid-flex"></div>
                                         <h:graphicImage value="/faces/images/dynamic/?file=#{item.image}"  alt="" id="logoImageItem" width="200" height="200"   />                                         
                                         </li>
                                     </ui:repeat>
                                    
                                   
                            </ul>
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $("#flexiselDemo3").flexisel({
                                        visibleItems: 3,
                                        animationSpeed: 1000,
                                        autoPlay: true,
                                        autoPlaySpeed: 3000,
                                        pauseOnHover: true,
                                        enableResponsiveBreakpoints: true,
                                        responsiveBreakpoints: {
                                            portrait: {
                                                changePoint: 480,
                                                visibleItems: 1
                                            },
                                            landscape: {
                                                changePoint: 640,
                                                visibleItems: 2
                                            },
                                            tablet: {
                                                changePoint: 768,
                                                visibleItems: 3
                                            }
                                        }
                                    });

                                });
                            </script>
                            <h:outputScript name="js/jquery.flexisel.js" library="js"/>
                        </div>
                        </h:form>
                    </div>
                </div>
                <div class="container">
                    
                </div>
                
            </div>
            </div>
            
            <div class="footer_bottom">
                <div class="container">
                    <div class="copy">
                        <p>&#169; 2016 ITI  <a href="http://w3layouts.com" target="_blank"> Hatswaq</a></p>
                    </div>
                </div>
            </div>
            
    </h:body>
</html>