<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Hatswaq | Home</title>
        <h:outputStylesheet library="css" name="css/bootstrap.css"/>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Custom Theme files -->
        <h:outputScript library="primefaces" name="jquery/jquery.js"/>

        <h:outputStylesheet library="css" name="css/style.css"/>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--webfont-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' media="screen"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' media="screen"/>
        <h:outputScript name="js/jquery.easydropdown.js" library="js"/>
        <!-- Add fancyBox main JS and CSS files -->
        <h:outputScript name="js/jquery.magnific-popup.js" library="js"/>
        <h:outputStylesheet library="css" name="css/magnific-popup.css"/>
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
        </script>
    </h:head>
    <h:body>
       
        <div class="header">	
            <div class="single">
            <div class="container"> 
                <div class="header-top">
                    <div class="logo">
                        <h:link outcome="GuestMainPage"><h:graphicImage name="images/hatswa2.png" library="images" width="150" height="100"/></h:link>
                    </div>
                    <div class="header_right">
                        
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>  
                <div class="apparel_box">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div> 
            </div>
        </div>
    </h:body>
</html>