<!--

author Aya

-->


<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
   
   </h:head>
    <h:body>
       
        <h:form>
    <!--  wrapper -->
    <div id="wrapper">
       
        <!--  page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Offer and it's items(this page will view all offers and it's items )</h1>
                </div>
                <!--End Page Header -->
            </div>
               
            <div class="row">
             <a href="AdminAddOffer.xhtml" >add new offer</a>

                <div class="col-lg-8">
                      <!--Area chart example -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Offer
                        </div>

                        <div class="panel-body">
                            <p:graphicImage value="/resources/demo/images/nature/1.jpg" />
                            <br/>
                           description :It is related to ramadan offers<br/>
                           rate=50% <br/>
                           <h:link value="block" /> <br/>
                         <h:link value="update" />
                        </div>

                    </div>
                    <!--End area chart example -->
                         <!--Simple table example -->
<!--                    <div class="panel panel-primary">-->
<div class="row">
                        <div class="col-lg-4">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Item name
                        </div>
                        <div class="panel-body">
                            <p>description not mandatory</p>
                            <p>
                                item price not manadtory 
                            </p>
                            <p> <p:graphicImage value="/resources/demo/images/nature/2.jpg" /></p>
                        </div>
                        <div class="panel-footer">
                           <h:link value="Unlocked" /><br/>
                           <h:link value="update" />
                        </div>
                    </div>
                </div>
     <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Item name
                        </div>
                        <div class="panel-body">
                            <p>description</p>
                            <p>
                                item price
                            </p>
                            <img src="" alt="item image" />
                        </div>
                        <div class="panel-footer">
                              <h:link value="Unlocked" /><br/>
                           <h:link value="update" />
                        </div>
                    </div>
                </div>
    </div>
                        <!-- /.panel-body -->
                    <!--</div>-->
                    <!--End simple table example -->
                </div>

            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

 
</h:form>
</h:body>

</html>
