

<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui">
    <h:head>
   
    <!-- Page-Level CSS -->
    <!--<h:outputStylesheet library="css" name="assets/plugins/morris/morris-0.4.3.min.css" />-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <h:outputScript name="js/jquery.min.js" library="js"/>
        <!-- Custom Theme files -->
        <h:outputStylesheet library="css" name="css/css/style.css"/>
        <h:outputStylesheet library="css" name="css/css/component.css"/>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--webfont-->
        <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'/>            
        <h:outputScript name="js/jquery.easydropdown.js" library="js"/>
        <!-- Add fancyBox main JS and CSS files -->
        <h:outputScript name="js/js/jquery.magnific-popup.js" library="js"/>
        <h:outputStylesheet library="css" name="css/css/magnific-popup.css"/>
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
        </script>
        <!--details-product-slider-->
        <!-- Include the Etalage files -->
        <h:outputStylesheet library="css" name="css/css/etalage.css"/>
        <h:outputScript name="js/js/jquery.etalage.min.js" library="js"/>
        <!-- Include the Etalage files -->
        <script>
            jQuery(document).ready(function ($) {

                $('#etalage').etalage({
                    thumb_image_width: 300,
                    thumb_image_height: 400,
                    show_hint: true,
                    click_callback: function (image_anchor, instance_id) {
                        alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                    }
                });
                // This is for the dropdown list example:
                $('.dropdownlist').change(function () {
                    etalage_show($(this).find('option:selected').attr('class'));
                });

            });
        </script>
        <!--details-product-slider-->	
        <script src="js/js/easyResponsiveTabs.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion           
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
            });
        </script>	
   </h:head>
    <h:body>
        <h:form>
    <!--  wrapper -->
    <div id="wrapper">
       
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Vendor Profile</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                        <div class="col-md-9">
                            <div class="dreamcrub">fi
                                <div class="clearfix"></div>
                            </div>
                            <div class="singel_right">
                                <div class="labout span_1_of_a1">
                                    <!-- start product_slider -->
                                    <h:graphicImage name="images/carfor.jpg" library="images"/>
                                </div>
                                <div class="cont1 span_2_of_a1">
                                    <h1>Vendor 1</h1>
                                    
                                    <div class="price_single">                                        
                                        <span class="actual">Main Mobile: (19190)</span>
                                    </div>
                                    <h2 class="quick">What do we sell?</h2>
                                    <p class="quick_desc"> Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; es</p>
                                    <ul class="size">
                                        <h3>Branches</h3>
                                        <li><a href="#">branch 1</a></li>
                                        <li><a href="#">branch 2</a></li>
                                        <li><a href="#">branch 3</a></li>
                                        <li><a href="#">branch 4</a></li>
                                    </ul>
                                    <ul class="size">
                                        <h3>Representative</h3>
                                        <li>Vendor 1 representative</li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <h3 class="like">Vendor Location :</h3>
                            <div class="map">
                                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
                                        src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed">

                                </iframe><br/>
                                <small>
                                    <a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" 
                                       style="color:#666;text-align:left;font-size:12px">               
                                    </a>
                                </small>
                            </div>
                            <br/><br/>
                            <h3 class="like">Offers</h3>        			
                            <ul id="flexiselDemo3">
                                <li><img src="images/pic11.jpg" /><div class="grid-flex"><a href="#">Syenergy 2mm</a><p>Rs 850</p></div></li>
                                <li><img src="images/pic10.jpg" /><div class="grid-flex"><a href="#">Surf Yoke</a><p>Rs 1050</p></div></li>
                                <li><img src="images/pic9.jpg" /><div class="grid-flex"><a href="#">Salty Daiz</a><p>Rs 990</p></div></li>
                                <li><img src="images/pic8.jpg" /><div class="grid-flex"><a href="#">Cheeky Zane</a><p>Rs 850</p></div></li>
                                <li><img src="images/pic7.jpg" /><div class="grid-flex"><a href="#">Synergy</a><p>Rs 870</p></div></li>
                            </ul>
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $("#flexiselDemo3").flexisel({
                                        visibleItems: 3,
                                        animationSpeed: 1000,
                                        autoPlay: true,
                                        autoPlaySpeed: 3000,
                                        pauseOnHover: true,
                                        enableResponsiveBreakpoints: true,
                                        responsiveBreakpoints: {
                                            portrait: {
                                                changePoint: 480,
                                                visibleItems: 1
                                            },
                                            landscape: {
                                                changePoint: 640,
                                                visibleItems: 2
                                            },
                                            tablet: {
                                                changePoint: 768,
                                                visibleItems: 3
                                            }
                                        }
                                    });

                                });
                            </script>                            
                            <h:outputScript name="js/js/jquery.flexisel.js" library="js"/>                            
                        </div>
            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                        
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
   
</h:form>
</h:body>

</html>
