<!--

author Aya

-->


<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>

   </h:head>
    <h:body>
         
        <h:form>
    <!--  wrapper -->
    <div id="wrapper">
       
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">All notifications</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                                              <!--  Alert Styles -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Alerts
                        </div>
                        <div class="panel-body">
                          
                            <div class="alert alert-info">
                                You have new notification  <a href="#" class="alert-link">click here for more details</a>.
                            </div>
                          
                            
                        </div>
                    </div>
                    <!-- End Alert Styles -->

                </div>

            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
      
</h:form>
</h:body>

</html>
