
<!--

author Aya

-->

<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
<style type="text/css">
    
    .ui-icon-plusthick {display:none;}
    
    .ui-fileupload-content {border-style:none; display: none;}
    
  </style>
   </h:head>
    <h:body>
<!--         <ui:insert name="header" >
		  <ui:include src="AdminHeader.xhtml" />
        </ui:insert>-->
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
      
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Add offer</h1>
                </div>
                <!--End Page Header -->
                
            </div>
                

                    <!--Area chart example -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>Add offer
                            
                        </div>

                        <div class="panel-body">
                            <f:view>               
    <h:form  prependId="false" id="offerForm" enctype="multipart/form-data" onkeypress="if (event.keyCode == 13) { return false; }">
        <p:outputPanel id="lol">
        <p:outputPanel id="NamePhase" rendered="#{newOffer.showNamePhase}">
            <table>
                <tr>
                    <td>
                        <p:graphicImage value="/faces/images/dynamic/?file=#{newOffer.vendor.logo}" />
                       
         <br />
                        <p:outputLabel for="theName" value="Offer Name" />
                        <p:inputText  value="#{newOffer.offerName}" id="theName" required="true" requiredMessage="please enter offer name">
                       
                        </p:inputText>
                        <br />
                         <p:message for="theName" />
                      
                      <br />
                       
                        
                         <p:outputLabel for="startDate" value="start Date" />
                         <p:calendar  id="startDate" value="#{newOffer.startDate}" pattern="dd-MM-yyyy" mask="true" required="true" requiredMessage="please enter offer Start Date">
                             <p:ajax event="dateSelect" listener="#{newOffer.onDateSelect}" />
                         </p:calendar>
                         <br />
                         <p:message for="startDate" />
                         <br />
                          <p:outputLabel for="endDate" value="End Date" />
                          <p:calendar  id="endDate" value="#{newOffer.endDate}" pattern="dd-MM-yyyy" mask="true" required="true" requiredMessage="please enter offer End Date">
                              <f:attribute name="startDate" value="#{newOffer.startDate}" />
                              <f:validator validatorId="primeDateRangeValidator" />
                          </p:calendar>
                
                       <br />
                         <p:message for="endDate" />
                        
                    </td>
                    
                </tr>
       
               
                <tr>
                    <td>
                        <br />
                        
        </td>
            </tr>
             </table>  
        </p:outputPanel>
            
            <p:commandLink class="btn btn-primary" ajax="false" value="Next"  action="#{newOffer.checkNamePahse()}" id="namePhaseNext" update="lol namePhaseNext" rendered="#{newOffer.showNamePhase}" /><br />
        </p:outputPanel>
        
        <p:outputPanel id="picPhase">
            
            <p:outputPanel rendered="#{newOffer.showPicPhase}">
                <h2>Enter Offer Images</h2>
                <br />
                <h3 style="display: inline;">offer:</h3>  <h4 style="color: blue;display: inline;">#{newOffer.offerName}</h4>
                <br />
               
                <p:fileUpload id="mm" rendered="#{newOffer.showPicPhase}" fileUploadListener="#{newOffer.handleFileUpload}" label="Choose" auto="true"/>
                
               
                <br />
                <br />
                <p:commandButton type="button" onclick="PF('switcher').previous();" icon="ui-icon-circle-triangle-w" id="prev"/>
                <p:commandButton type="button" onclick="PF('switcher').next();" icon="ui-icon-circle-triangle-e" id="next"/>
                  
                <div id="switchImage">
                 <p:imageSwitch effect="wipe"  widgetVar="switcher" id="manuelSwitcher" slideshowAuto="false" >
                     <ui:repeat value="#{newOffer.offerPicsModel}" var="image" id="manuelSwitcherImages">
                         <p:outputPanel>
                         <p:graphicImage value="/faces/images/dynamic/?file=#{image}" id="image" cache="false"/>
                         <p:commandLink class="btn btn-primary" id="RemoveLink" value="Remove" action="#{newOffer.removeOfferPic()}" rendered="#{newOffer.showRemoveLink}" update="manuelSwitcher" oncomplete="location.reload();"/>
                        </p:outputPanel>
                 </ui:repeat>
                     
                </p:imageSwitch>
                    </div>
                <h4 style="position: absolute; top: 320px; left: 800px"> Offer Picture number: #{newOffer.offerPicsNumber} </h4>
                <br />
                <p:commandLink  class="btn btn-primary" ajax="false" value="Previous" style="margin: 10px;" action="#{newOffer.showPicPhasePrevious()}" update="picPhase lol" immediate="true"/> <p:commandLink class="btn btn-primary" value="Next" action="#{newOffer.showPicPhaseNext()}" update="picPhase croperPanel" oncomplete="location.reload();" immediate="true"/>
            </p:outputPanel>
            
        </p:outputPanel>
        
        <p:outputPanel id="croperPanel" >
            
            <p:outputPanel rendered="#{newOffer.showCroper}" >
                <h2>choose offer Icon</h2>
                <div style="position: relative; left: 600px;">
                    <h3 style="display: inline;"> Icon:</h3>
                    <p:graphicImage width="200" height="200" value="/faces/images/dynamic/?file=#{newOffer.offerIcon}" id="offerIcon"/> 
                </div> 
                 <br />
                <p:commandButton type="button" onclick="PF('switcher2').previous();" icon="ui-icon-circle-triangle-w"/>
                <p:commandButton type="button" onclick="PF('switcher2').next();" icon="ui-icon-circle-triangle-e" />
               <p:imageSwitch effect="wipe"  widgetVar="switcher2" slideshowAuto="false" >
                     <ui:repeat value="#{newOffer.offerPicsModel}" var="image" >
                         <p:outputPanel>
                             <p:outputPanel>
                             
                             <span><h4>Choose a photo to crop offer icon from</h4></span>
                             
                            <p:commandButton value="choose" action="#{newOffer.chooseIconPic()}"  update="iconCroper croperPanel" />
                         </p:outputPanel>
                             <p:graphicImage  value="/faces/images/dynamic/?file=#{image}" cache="false"/>      
                         
                        </p:outputPanel>
                         
                        
                         
                 </ui:repeat>                
                </p:imageSwitch>
                
                
                
                <br />
                <p:commandLink class="btn btn-primary" value="Previous" style="margin: 10px;" action="#{newOffer.showCroperPrevious()}" update="croperPanel picPhase" oncomplete="location.reload();"/> <p:commandLink class="btn btn-primary" value="Next" action="#{newOffer.showCroperNext()}" oncomplete="location.reload();"/>
            
                </p:outputPanel>
      
            </p:outputPanel>
        
        
        <p:outputPanel id="iconCroper">
                <p:outputPanel rendered="#{newOffer.showIconCropper}"> 
                    

                    <span>Change the photo</span>
                    <p:commandButton  value="change" action="#{newOffer.changeIconPic()}"  oncomplete="location.reload();" />
                    <br />
                    <br />
                    <p:commandButton  value="Crop" action="#{newOffer.crop()}" icon="ui-icon-scissors" oncomplete="location.reload();"/>
                            <br /> 
                            
                           <br/> 
                         <p:imageCropper  value="#{newOffer.croppedImage}" rendered="#{newOffer.showIconCropper}" image="#{newOffer.iconPicChoosen}" initialCoords="225,75,300,125" id="theiconimagecropper"/>  
                </p:outputPanel>
            </p:outputPanel>
        
        
        <p:outputPanel id="items">
            <p:outputPanel rendered="#{newOffer.showItemCrop}">
                <h2>choose offer Items</h2>
                  <p:commandButton type="button" onclick="PF('switcher2').previous();" icon="ui-icon-circle-triangle-w"/>
                <p:commandButton type="button" onclick="PF('switcher2').next();" icon="ui-icon-circle-triangle-e" />
               <p:imageSwitch effect="wipe"  widgetVar="switcher2" slideshowAuto="false" >
                     <ui:repeat value="#{newOffer.offerPicsModel}" var="image" >
                         <p:outputPanel>
                         
                         <p:outputPanel>
                         
                                
                             <br />
                            <span>Choose a photo to crop items from</span>
                            <br /> 
                            <p:commandButton value="choose" action="#{newOffer.chooseItempic()}" update="items itemCroper" />
                           
                         </p:outputPanel>    
                             <p:graphicImage value="/faces/images/dynamic/?file=#{image}" cache="false"/>      
                         </p:outputPanel>
                     </ui:repeat>
                   </p:imageSwitch>                  
            </p:outputPanel>   
        </p:outputPanel>
        
         <p:outputPanel id="itemCroper">
             <p:outputPanel rendered="#{newOffer.showItemCropper}">
                 

                    <span>Change the photo</span>
                    <p:commandButton  value="change" action="#{newOffer.changeItemPic()}" oncomplete="location.reload();"/>
                    <br />
                    <br />
                    <p:commandButton ajax="false" value="Crop" action="#{newOffer.cropItem()}" icon="ui-icon-scissors" oncomplete="location.reload();"/>
                            <br /> 
                            
                           <br/>   
                           <p:imageCropper  value="#{newOffer.croppedItem}"  image="#{newOffer.itemPicChosen}" initialCoords="225,75,300,125" />
                </p:outputPanel>           
            </p:outputPanel>
        
        <p:outputPanel id="itemsTable">
            <p:outputPanel rendered="#{newOffer.showTableitems}">
                <p:dataTable class="table table-bordered table-hover table-striped" value="#{newOffer.offerItemsModel}" var="offerItem" id="myTable" >
                    <p:column>
                        <f:facet name="header">Name</f:facet>
                        <p:inputText value="#{offerItem.name}" style="width: 175px">
                            <p:ajax event="blur" listener="#{newOffer.modifyItem()}" />
                        </p:inputText>
                    </p:column>
                    <p:column> 
                         <f:facet name="header">Image</f:facet>                                                                   
                         <h:graphicImage value="/faces/images/dynamic/?file=#{offerItem.image}" id="theItemIcon" width="70" height="70"/><br/>                                             
                    </p:column>
                    <p:column>
                        <f:facet name="header">Description</f:facet>
                        <p:inputText value="#{offerItem.description}" style="width: 175px">
                            <p:ajax event="blur" listener="#{newOffer.modifyItem()}" />
                        </p:inputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Price</f:facet>
                        <p:inputText value="#{offerItem.price}" style="width: 175px">
                            <p:ajax event="blur" listener="#{newOffer.modifyItem()}"/>
                        </p:inputText>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Remove</f:facet>
                        <p:commandButton ajax="false" value="Remove" icon="ui-icon-circle-close" action="#{newOffer.removeItem()}" oncomplete="location.reload();"/>
                    </p:column>
                </p:dataTable>
              
                <button type="button" class="btn btn-primary" style="float: right;" onclick="PF('dlg').show()">Add Item</button>  
                
                <p:outputPanel rendered="#{newOffer.showSbmitbutton}">
                    <p:commandButton rendered="#{newOffer.comeFromAdmin}" ajax="false" class="btn btn-primary" style="float: right;" action="#{newOffer.submitOffer()}" value="Submit offer"/> 
                    <p:commandButton rendered="#{newOffer.comeFromTheVendor}" ajax="false" class="btn btn-primary" style="float: right;" action="#{newOffer.submitOfferfromVendor()}" value="Submit offer"/> 
                </p:outputPanel>
                
                <p:commandLink class="btn btn-primary" value="previous" action="#{newOffer.showTablePrevios()}" oncomplete="location.reload();"/>
                
                <p:dialog header="Add item" widgetVar="dlg" showEffect="fade" id="thedialog" >
                    <h:form prependId="false">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <tr>
                                                            <td>
                                                                Name
                                                            </td>
                                                            <td>
                                                                Description
                                                            </td>
                                                            <td>
                                                                Price
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                       <td>
                                                           <p:inputText   value="#{newOffer.offerItemName}"  id="AddNAme" >
                                                               
                                                           </p:inputText>
                                                            </td> 
                                                          
                                                            <td>
                                                                <p:inputText  value="#{newOffer.offerItemDesc}" />
                                                            </td> 
                                                            <td>
                                                                <p:inputText  value="#{newOffer.offerItemPrice}"  id="AddPrice" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p:outputLabel style="color: red;" id="nameError" />
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                                <h:outputLabel style="color: red;" id="priceError" />
                                                            </td>
                                                        </tr>
                                                        <tr></tr>  
                                                    </table>
                                                   
                                                   
                        <p:commandButton icon="ui-icon-scissors" value="crop image"  action="#{newOffer.cropFromTable}"  onclick="return validatee();"/>
                                                    </h:form>
                                                </p:dialog>
                             </p:outputPanel>
                     </p:outputPanel>
            </h:form>
       </f:view>   
                        </div>

                    </div>
                    <!--End area chart example -->
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->
    <!-- Core Scripts - Include with every page -->

     

    
        <script type="text/javascript">
          
            function ReloadShowCrop(){
              if(document.getElementById("theName").value !== ""){
                  location.reload();
              }
           }
           
           function validatee(){
//              
                var nameFlag;
                var priceFlag;
            if(document.getElementById("AddNAme").value === ""){
                  document.getElementById("nameError").innerHTML="please enter name";
                  nameFlag=false;
              }
              else{
                  document.getElementById("nameError").innerHTML="";
                  nameFlag=true;
              }
              
              
              if(document.getElementById("AddPrice").value === ""){
                  document.getElementById("priceError").innerHTML="please enter price";
                  priceFlag=false;
              }
              else{
                  if(isNaN(document.getElementById("AddPrice").value)){
                  document.getElementById("priceError").innerHTML="Enter only numbers";
                  priceFlag=false;

                    }
                    else{
                  document.getElementById("priceError").innerHTML="";
                  priceFlag=true;
                    }
              } 
              
              
             if(nameFlag===true){
                 if(priceFlag===true){
                      return true;  
                 }else{
                     return false;
                 }
             }else{
                 return false;
             }
           }
           
           
        </script>
</h:body>

</html>
