
<!--

author Aya

-->

<!DOCTYPE html [
    <!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <f:metadata>
            <f:event type="preRenderView" listener="#{checkLogin.permissionVendor}"/>
        </f:metadata>
   </h:head>
    <h:body>
         <ui:insert name="header" >
		  <ui:include src="VendorHeader.xhtml" />
        </ui:insert>
     
      <ui:insert name="content" >
	 	  <ui:include src="TemplateAdminVendorAddOffer.xhtml" />
       </ui:insert> 



    <!-- end wrapper -->
    <!-- Core Scripts - Include with every page -->
     <ui:insert name="footer" >
	 <ui:include src="AdminVendorFooter.xhtml" />
    </ui:insert>
</h:body>

</html>
