<!DOCTYPE html [
<!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://xmlns.jcp.org/jsf/html" 
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Hatswa2 | Vendor Profile</title>
    <f:metadata>
        <f:event type="preRenderView" listener="#{checkLogin.permissionVendor}"/>
    </f:metadata>
</h:head>
<h:body>
    <ui:insert name="header" >
              <ui:include src="VendorHeader.xhtml" />
    </ui:insert>
    <h:form>
        <ui:insert name="content" >
              <ui:include src="TemplateAdminVendorManageOffer.xhtml" />
       </ui:insert>
     </h:form>
    <!-- Core Scripts - Include with every page -->
    <ui:insert name="footer" >
        <ui:include src="AdminVendorFooter.xhtml" />
   </ui:insert>
</h:body>
</html>