<!DOCTYPE html [
<!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
        <title>Hatswa2 | Vendor Offer</title>
        <f:metadata>
            <f:event type="preRenderView" listener="#{checkLogin.permissionVendor}"/>
        </f:metadata>
</h:head>
<h:body>     
    <!--Header--> 
    <ui:insert name="header" >
        <ui:include src="VendorHeader.xhtml" />
    </ui:insert>
    <!--End Header-->

    <!--  wrapper -->
    <div id="wrapper">       
        <div id="page-wrapper">
            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">
                    </h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <!--Simple table example -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>All Offers                           
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <f:view>
                                            <h:form>
                                                <h:dataTable class="table table-bordered table-hover table-striped" value="#{offerItemVendor.model}" var="offer">
                                                    <h:column>
                                                        <f:facet name="header">Icon</f:facet>
                                                    
                                                            <h:graphicImage value="/faces/images/dynamic/?file=#{offer.icon}" width="90" height="85" />
                                                     
                                                    </h:column>
                                                   <h:column>
                                                        <f:facet name="header">Describtion</f:facet>
                                                        <h:outputLabel value="#{offer.description}" />
                                                       
                                                    </h:column>
                                                    <h:column>
                                                       <f:facet name="header">Status</f:facet> 
                                                       <h:outputLabel value="#{offerItemVendor.status}" />
                                                    </h:column>
                                                    
                                                    <h:column>
                                                        <f:facet name="header">Rate</f:facet>
                                                        <p:rating value="#{offer.rate}" readonly="true" />
                                                    </h:column>
                                                    <h:column>
                                                        <h:commandButton class="btn btn-outline btn-success" value="Details" action="#{offerItemVendor.offerDetails}" />
                                                    </h:column>
                                                    </h:dataTable>                                             
                                            </h:form>
                                        </f:view>
                                        <p:commandButton class="btn btn-primary" value="Add offer" style="float: right;" action="#{newOffer.comeFromeVendor()}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!--End simple table example -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <ui:insert name="footer" >
        <ui:include src="AdminVendorFooter.xhtml" />
    </ui:insert>
</h:body>

</html>