<!DOCTYPE html [
<!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
        <title>Hatswa2 | Admin Notification</title>
        <f:metadata>
            <f:event type="preRenderView" listener="#{checkLogin.permissionVendor()}"/>
        </f:metadata>
</h:head>
<h:body>     
    <!--Header--> 
    <ui:insert name="header" >
        <ui:include src="VendorHeader.xhtml" />
    </ui:insert>
    <!--End Header-->

    <!--  wrapper -->
    <div id="wrapper">       
        <div id="page-wrapper">
            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h3 class="page-header">Message from <b>Admin</b></h3>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <center>
                        <h:form>
                            <!--Simple table example -->
                            from : <h:outputLabel value="Admin"/><br/>
                            subject : <h:outputLabel value="#{vendorNotification.communication.message.subject}"/><br/>
                            body : <h:outputLabel value="#{vendorNotification.communication.message.body}"/><br/>
                            date : <h:outputLabel value="#{vendorNotification.communication.message.date}"/>
                        </h:form>
                    </center>
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->
    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <ui:insert name="footer" >
        <ui:include src="AdminVendorFooter.xhtml" />
    </ui:insert>
</h:body>
    
</html>