<!DOCTYPE html [
<!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <f:metadata>
        <f:event type="preRenderView" listener="#{checkLogin.permissionVendor}"/>
    </f:metadata>
</h:head>
<h:body>
    <h:form>
        <ui:insert name="header" >
            <ui:include src="VendorHeader.xhtml" />
        </ui:insert>
        <div id="wrapper">

            <!--  page-wrapper -->
            <div id="page-wrapper">

                <div class="row">
                    <!-- Page Header -->
                    <div class="col-lg-12">
                        <h1 class="page-header">Main Page</h1>
                    </div>
                    <!--End Page Header -->
                </div>

                <div class="row">
                    <!-- Welcome -->
                    <div class="col-lg-12">
                        <div class="alert alert-info">
                            <i class="fa fa-folder-open"><b>&nbsp;Hello ! </b>Welcome Back <strong>#{checkLogin.vendor.name}</strong>
                                <h:graphicImage value="/faces/images/dynamic/?file=#{checkLogin.vendor.logo}" height="100" width="120" />
                            </i>
                        </div>
                    </div>
                    <!--end  Welcome -->
                </div>
                <div class="row">
                    <div class="col-lg-8">

                        <!--Area chart example -->
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i>Area Chart Example
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Actions
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#">Action</a>
                                            </li>
                                            <li><a href="#">Another action</a>
                                            </li>
                                            <li><a href="#">Something else here</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>

                        </div>
                        <!--End area chart example -->     
                    </div>
                </div>
            </div>
            <!-- end page-wrapper -->
        </div>
        <!-- end wrapper -->
        <ui:insert name="footer" >
            <ui:include src="AdminVendorFooter.xhtml" />
        </ui:insert>
    </h:form>
</h:body>

</html>