<!--

author Aya

-->

<!DOCTYPE html [
<!ENTITY nbsp "&#xA0;"> ]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <f:metadata>
            <f:event type="preRenderView" listener="#{checkLogin.permissionVendor}"/>
        </f:metadata>
        <title>Hatswa2 | Vendor Messages</title>
   </h:head>
    <h:body>
        
        <ui:insert name="header" >
		  <ui:include src="VendorHeader.xhtml" />
        </ui:insert>
       
    <!--  wrapper -->
    <div id="wrapper">
        <!--  page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">All Messages</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <div class="col-lg-8">
                     <!--    Context Classes  -->
                    <div class="panel panel-default">
                        
                        <div class="panel-heading">
                            Admin Messages
                            <!--send Message fade button-->
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myMsg" style="float: right;">
                                Send Message
                            </button>
                            <f:view>
                                <h:form>
                                    <div class="modal fade" id="myMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                                    <h4 class="modal-title" id="myModalLabel">Message To Admin</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <center>
                                                        Subject : <h:inputText value="#{vendorMessages.subject}" size="40"/><br/><br/><br/>
                                                        Body : <h:inputTextarea value="#{vendorMessages.body}" cols="55" rows="8"/>
                                                    </center>
                                                </div>
                                                <div class="modal-footer">
                                                    <h:commandButton class="btn btn-primary" action="#{vendorMessages.sendMessageToAdmin}" value="Send"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:form>
                            </f:view>
                        </div>

                       <div class="panel-body">
                            <div class="table-responsive">
                                <h:dataTable class="table table-bordered table-hover table-striped" value="#{vendorMessages.model}" var="message" headerClass="info" rowClasses="success,warning,danger,info">
                                    <h:column>
                                        <f:facet name="header">Subject</f:facet>
                                        <h:outputText  class="success" value="#{message.subject}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Body</f:facet>
                                        <h:outputText value="#{message.body}"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Date</f:facet>
                                        <h:outputText value="#{message.date}"/>
                                    </h:column>
                                </h:dataTable>
                            </div>
                           
                        </div>
                    </div>
                    <!--  end  Context Classes  -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    
        <ui:insert name="footer" >  
             <ui:include src="AdminVendorFooter.xhtml" />
        </ui:insert>

</h:body>
</html>
